
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  width: 80%;
  max-width: 500px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
}
input:hover {
  box-shadow: 0px 0px 20px white;
}
button {
  padding: 8px 25px;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 10px;
  background: blue ;
  border: none;
  color: white;
}